<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/home.css" />
  <title>Thrifty Nook | Home</title>
</head>

<body>
  <nav class="navbar">
    <h1>Thrifty Nook</h1>
    <div class="links">
      <a href="/">Home</a>
      <a href="/create" style="color: white; 
      background-color: #f1356d;
      border-radius: 10px; padding: 10px;">Login</a>
      <a href="payment" style="color: white; 
        background-color: #f1356d;
        border-radius: 10px; padding: 10px;">
        Buy Now
      </a>
    </div>
  </nav>