<div class="categories">
    <h1 style="font-size: 20px; padding: 20px;">Top Categories</h1>
    <div class="category-items" style="display: flex; justify-content: space-between;">
        <a href="/bedroom"></a>
        <div class="polaroid">
            <a href="/bedroom">
                <img class="item-image" src="./images/bedroom1.jpg" alt="5 Terre" style="width:250px; margin-top: 10px;" >
                <div class="container">
                    <p>Bedroom</p>
                </div>
            </a>
        </div>
        <div class="polaroid">
            <a href="/kitchen">
                <img class="item-image" src="./images/kitchen.jpg" alt="5 Terre" style="width:250px; margin-top: 10px;">
                <div class="container">
                    <p>Kitchen</p>
                </div>
            </a>
        </div>
        <div class="polaroid">
            <a href="/living">
                <img class="item-image" src="./images/living1.jpg" alt="5 Terre" style="width:250px; margin-top: 10px;">
                <div class="container">
                    <p>Living Room</p>
                </div>
            </a>
        </div>
        <!-- <button type="submit" style="padding: 30px; border-radius: 0px; width: 200px;"> 
        <button type="submit" style="padding: 30px; border-radius: 0px; width: 200px;"> 
        <button type="submit" style="padding: 30px; border-radius: 0px; width: 200px;">  -->
    </div>
</div>