<%- include('layouts/header') %>
<div class="container">
  <div>
    <div style="padding-left: 350px; padding-right: 350px;">
      <div class="text-center" style="flex-direction: column; align-items:center ;">
        <h2>Login</h2>
        <% if (locals.error) { %>
          <div class="alert alert-danger"><%= locals.error %></div>
        <% } %>
        <form method="POST" action="/login">
          <div class="form-group">
            <input type="text" class="form-control" name="email" placeholder="Email" required />
          </div>
          <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Password" required />
          </div>
          <button type="submit" class="btn btn-primary btn-block">Login</button>
        </form>
        <!-- Add "Register" and "Forgot Password" buttons -->
        <br>
        <a href="/register" class="btn btn-primary btn-block">Register</a>
        <br>
        <a href="/forgot-password" class="btn btn-link">Forgot Password</a>
      </div>
    </div>
  </div>
</div>
<%- include('layouts/footer') %>

