<%- include('layouts/header') %>
<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="text-center">
        <h1>Login</h1>
        <% if (locals.error) { %>
          <div class="alert alert-danger"><%= locals.error %></div>
        <% } %>
        <form method="POST" action="/login">
          <div class="form-group">
            <input type="text" class="form-control" name="email" placeholder="Email" required />
          </div>
          <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Password" required />
          </div>
          <button type="submit" class="btn btn-primary btn-block">Login</button>
        </form>
        <!-- Add "Register" and "Forgot Password" buttons -->
        <br>
        <a href="/register" class="btn btn-primary btn-block">Register</a>
        <br>
        <a href="/forgot-password" class="btn btn-link">Forgot Password</a>
      </div>
    </div>
  </div>
</div>
<%- include('layouts/footer') %>

