<%- include('layouts/header') %>
<div class="container">


<h1>My Account</h1>
<% if (user) { %>
  <p>Hello, <%= user.email %>!</p>
  <!-- Your account content here -->

  
  <a href="/user-products/<%= user._id %>">View Products</a>
  <form method="GET" action="/logout" style="padding: 10px;">
    <button type="submit" style="padding: 5px; border-radius: 10px; background-color: #f1356d; border: none; color: white;" class="next-btn">Logout</button>
  </form>
  

<% } else { %>
  <p>Please register/login to access your account.</p>
<% } %>
<%- include('layouts/footer') %>