<%- include('layouts/header') %>
  <div class="container">
    <% if (user) { %>
      <h1>Hello, <%= user.firstName %>!</h1>
      <a href="/user-products/<%= user._id %>">View Products</a></br>
      <a href="/paymentHistory">My Payment History</a></br>
      <a href="/cart">My Cart</a></br>
      <form method="GET" action="/logout" style="padding: 10px">
        <button type="submit" style="
        padding: 5px;
        border-radius: 10px;
        background-color: #f1356d;
        border: none;
        color: white;
      " class="next-btn">
          Logout
        </button>
      </form>

      <% } else { %>
        <p>Please register/login to access your account.</p>
        <% } %> <%- include('layouts/footer') %>
  </div>